{% extends "layout.html" %}

{% block main %}
    <div class="mainContainer">
        <div class="indexContent">            
            <h1>Welcome to Music database.</h1>
            <p>Music database is a web application that I created as the final project of my coursework for CS50x: an introduction to computer science, a fantastic online education platform from Harvard University.</p>
            <p>Music database web application lets the user search for any artist, album song or label and have the results displayed in a well designed frontend UI experience that is coded in HTML 5 and CSS 3. The content itself is dynamically served using Pyhton scripts and flask templates as well as using Jinja 2 syntax.</p>
            <p>All data is provided and powered by the Discogs API</p>            
        </div>
    </div>
{% endblock %}