{% extends "layout.html" %}

{% block main %}
<div class="mainContainer">
    <div class="mainContent">
        <div class="infoContainer">
            <div class="detailContainer">
                <div class="thumb">
                    <img src="{{ labelThumb }}" />
                </div>
                <div class="details">
                    <h1>{{ label["name"] }}</h1>
                </div>
            </div>
            <div class="profile">
                <p>Profile: </p>
                <p>{{ label["profile"] }}</p>
            </div>
        </div>
        <div class="releases">
            <table>
                <thead class="thead">
                <th>Master Releases</th>
                </thead>
                <tbody class="tbody">
                    {% for row in data %}
                    <tr>
                        {% if row["thumb"] == '' %}
                        <td><img src="static/icons/noImage.png" height="100px" width="100px" /></td>
                        {% else %}
                        <td>
                            <form action="/master" method="post">
                                <button class="blockButton" type="submit">
                                    <div class="form-group hiddenForm">
                                        <input class="form-control" name="type" type="text" value="{{ type }}">
                                        <input class="form-control" name="url" type="text" value="{{ row["resource_url"] }}">
                                        <input class="form-control" name="thumb" type="text" value="{{ row["thumb"] }}">
                                    </div>
                                    <img src="{{ row["thumb"] }}" height="100px" width="100px" />
                                </button>
                            </form>
                        </td>
                        {% endif %}
                        <td>
                            <form action="/master" method="post">
                                <button class="blockButton" type="submit">
                                    <div class="form-group hiddenForm">
                                        <input class="form-control" name="type" type="text" value="{{ type }}">
                                        <input class="form-control" name="url" type="text" value="{{ row["resource_url"] }}">
                                        <input class="form-control" name="thumb" type="text" value="{{ row["thumb"] }}">
                                    </div>
                                    {{ row["title"] }}
                                </button>
                            </form>
                        </td>
                        <td>{{ row["year"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {% set urls = pagination["urls"] %}
                {% set first = urls["first"]  %}
                {% set last = urls["last"]  %}
                {% set prev = urls["prev"]  %}
                {% set next = urls["next"]  %}
                {% if  page  > 1 %}
                <form action="/label" method="post">
                    <button class="blockButton" type="submit">
                        <div class="form-group hiddenForm">
                            <input class="form-control" name="goto" type="text" value="{{ first }}">
                            <input class="form-control" name="type" type="text" value="{{ type }}">
                            <input class="form-control" name="url" type="text" value="{{ url }}">
                            <input class="form-control" name="thumb" type="text" value="{{ thumb }}">
                        </div>
                        <p class="link">...FIRST&nbsp&nbsp&nbsp</p>
                    </button>
                </form>
                <form action="/label" method="post">
                    <button class="blockButton" type="submit">
                        <div class="form-group hiddenForm">
                            <input class="form-control" name="goto" type="text" value="{{ prev }}">
                            <input class="form-control" name="type" type="text" value="{{ type }}">
                            <input class="form-control" name="url" type="text" value="{{ url }}">
                            <input class="form-control" name="thumb" type="text" value="{{ thumb }}">
                        </div>
                        <p class="link">...PREV&nbsp&nbsp&nbsp</p>
                    </button>
                </form>
                {% endif %}
                |
                {% if  page  <  pages  %}
                <form action="/label" method="post">
                    <button class="blockButton" type="submit">
                        <div class="form-group hiddenForm">
                            <input class="form-control" name="goto" type="text" value="{{ next }}">
                            <input class="form-control" name="type" type="text" value="{{ type }}">
                            <input class="form-control" name="url" type="text" value="{{ url }}">
                            <input class="form-control" name="thumb" type="text" value="{{ thumb }}">
                        </div>
                        <p class="link">&nbsp&nbsp&nbspNEXT...</p>
                    </button>
                </form>
                <form action="/label" method="post">
                    <button class="blockButton" type="submit">
                        <div class="form-group hiddenForm">
                            <input class="form-control" name="goto" type="text" value="{{ last }}">
                            <input class="form-control" name="type" type="text" value="{{ type }}">
                            <input class="form-control" name="url" type="text" value="{{ url }}">
                            <input class="form-control" name="thumb" type="text" value="{{ thumb }}">
                        </div>
                        <p class="link">&nbsp&nbsp&nbspLAST...</p>
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}